:root {
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Insta: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --Youtube: hsl(348, 97%, 39%);
  --Increase: hsl(163, 72%, 41%);
  --Decrease: hsl(356, 69%, 56%);
  line-height: 1;
}

.dark {
  --Background: hsl(230, 17%, 14%);
  --TopBackground: hsl(232, 19%, 15%);
  --CardBackground: hsl(228, 28%, 20%);
  --TextMain: hsl(0, 0%, 100%);
  --TextSecondary: hsl(228, 34%, 66%);
  --ToggleBg: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --Brightness: 150%;
}

.dark .toggle-switch {
  left: 3px;
}

.light {
  --Background: hsl(0, 0%, 100%);
  --TopBackground: hsl(225, 100%, 98%);
  --CardBackground: hsl(227, 47%, 96%);
  --TextSecondary: hsl(228, 12%, 44%);
  --TextMain: hsl(230, 17%, 14%);
  --ToggleBg: hsl(230, 22%, 74%);
  --Brightness: 95%;
}

.light .toggle-switch {
  left: 26px;
}

.center-all, .toggle-container, .grid-container .card .increase,
.grid-container .card .decrease, .grid-container .card.main-card .user, .grid-container .card.main-card .increase,
.grid-container .card.main-card .decrease {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo, .grid-container .card.main-card .user::before, .grid-container .card.secondary-card .secondary-top::after {
  content: "";
  width: 20px;
  height: 20px;
  background-size: initial;
  background-repeat: no-repeat;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--TextMain);
  background-color: var(--Background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-background {
  position: absolute;
  width: 100%;
  height: 235px;
  top: 0;
  left: 0;
  z-index: 1;
  background: var(--TopBackground);
  border-radius: 0 0 15px 15px;
}

main {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 40px 25px 45px;
  z-index: 2;
  background: transparent;
}

.heading-container {
  padding-bottom: 25px;
  border-bottom: 1px solid black;
}

.heading-container h1 {
  font-size: 24px;
  margin-bottom: 7px;
}

h2 {
  font-size: 24px;
  margin: 50px 0 29px;
}

h3 {
  color: var(--TextSecondary);
}

.toggle-container {
  padding: 16px 0 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.toggle-container .outer-toggle {
  position: relative;
  width: 47px;
  height: 24px;
  border-radius: 12px;
  background: var(--ToggleBg);
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.toggle-container .outer-toggle .toggle-switch {
  position: absolute;
  height: 18px;
  width: 18px;
  top: 3px;
  border-radius: 50%;
  background: var(--TopBackground);
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

.grid-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 100%))[1];
      grid-template-columns: repeat(1, minmax(250px, 100%));
  grid-gap: 25px 30px;
}

.grid-container.main-card-container {
  -ms-grid-rows: (215px)[4];
      grid-template-rows: repeat(4, 215px);
}

.grid-container.secondard-card-container {
  -ms-grid-rows: (125px)[8];
      grid-template-rows: repeat(8, 125px);
  margin-bottom: 34px;
  grid-row-gap: 16px;
}

.grid-container .card {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: var(--CardBackground);
  text-align: center;
}

.grid-container .card:hover {
  -webkit-filter: brightness(var(--Brightness));
          filter: brightness(var(--Brightness));
}

.grid-container .card .increase::before,
.grid-container .card .decrease::before {
  display: inline-block;
  height: 4px;
  width: 8px;
  margin-right: 4px;
  content: "";
}

.grid-container .card .increase {
  color: var(--Increase);
}

.grid-container .card .increase::before {
  background: url("../images/icon-up.svg");
}

.grid-container .card .decrease {
  color: var(--Decrease);
}

.grid-container .card .decrease::before {
  background: url("../images/icon-down.svg");
}

.grid-container .card.main-card {
  position: relative;
  padding: 32px 0 20px;
  font-size: 12px;
}

.grid-container .card.main-card .top-bar {
  border-radius: 5px 5px 0 0;
  position: absolute;
  height: 4px;
  width: 100%;
  top: 0;
  left: 0;
}

.grid-container .card.main-card .user,
.grid-container .card.main-card .followers {
  color: var(--TextSecondary);
}

.grid-container .card.main-card .user::before {
  margin-right: 9px;
}

.grid-container .card.main-card .follower-count {
  font-size: 56px;
  margin-top: 25px;
  letter-spacing: -2px;
}

.grid-container .card.main-card .followers {
  margin-top: 5px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.grid-container .card.main-card .increase,
.grid-container .card.main-card .decrease {
  margin-top: 29px;
  font-size: 12px;
}

.grid-container .card.main-card.fb .top-bar {
  background: var(--Facebook);
}

.grid-container .card.main-card.fb .user::before {
  background-image: url("../images/icon-facebook.svg");
}

.grid-container .card.main-card.twitter .top-bar {
  background: var(--Twitter);
}

.grid-container .card.main-card.twitter .user::before {
  background-image: url("../images/icon-twitter.svg");
}

.grid-container .card.main-card.insta .top-bar {
  background: var(--Insta);
}

.grid-container .card.main-card.insta .user::before {
  background-image: url("../images/icon-instagram.svg");
}

.grid-container .card.main-card.youtube .top-bar {
  background: var(--Youtube);
}

.grid-container .card.main-card.youtube .user::before {
  background-image: url("../images/icon-youtube.svg");
}

.grid-container .card.secondary-card {
  padding: 25px 30px 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid-container .card.secondary-card .secondary-top {
  position: relative;
  width: 100%;
  height: 20px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--TextSecondary);
}

.grid-container .card.secondary-card .secondary-top::after {
  position: absolute;
  right: 0;
}

.grid-container .card.secondary-card .secondary-top.fb::after {
  background-image: url("../images/icon-facebook.svg");
}

.grid-container .card.secondary-card .secondary-top.insta::after {
  background-image: url("../images/icon-instagram.svg");
}

.grid-container .card.secondary-card .secondary-top.twitter::after {
  background-image: url("../images/icon-twitter.svg");
}

.grid-container .card.secondary-card .secondary-top.youtube::after {
  background-image: url("../images/icon-youtube.svg");
}

.grid-container .card.secondary-card .secondary-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.grid-container .card.secondary-card .secondary-bottom .bottom-left {
  font-size: 30px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 580px) {
  .grid-container {
    -ms-grid-columns: (minmax(250px, 325px))[2];
        grid-template-columns: repeat(2, minmax(250px, 325px));
  }
  .grid-container.main-card-container {
    -ms-grid-rows: (215px)[2];
        grid-template-rows: repeat(2, 215px);
  }
  .grid-container.secondard-card-container {
    -ms-grid-rows: (125px)[4];
        grid-template-rows: repeat(4, 125px);
  }
}

@media (min-width: 730px) {
  main {
    max-width: 730px;
    left: calc(50vw - 365px);
  }
}

@media (min-width: 1140px) {
  body {
    height: 100vh;
  }
  main {
    max-width: 1110px;
    left: calc(50vw - 555px);
    padding-left: 0;
    padding-right: 0;
  }
  h2 {
    margin: 50px 0 26px;
  }
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .header-container h1 {
    font-size: 28px;
  }
  .header-container .heading-container {
    border-bottom: none;
    padding-bottom: 47px;
  }
  .header-container .toggle-container {
    margin-top: -10px;
    padding-top: 0;
  }
  .header-container .outer-toggle {
    margin-left: 14px;
  }
  .top-background {
    height: 245px;
  }
  .grid-container {
    -ms-grid-columns: (minmax(250px, 325px))[4];
        grid-template-columns: repeat(4, minmax(250px, 325px));
  }
  .grid-container.main-card-container {
    -ms-grid-rows: (215px)[1];
        grid-template-rows: repeat(1, 215px);
  }
  .grid-container.secondard-card-container {
    -ms-grid-rows: (125px)[2];
        grid-template-rows: repeat(2, 125px);
    margin-bottom: 64px;
    grid-row-gap: 24px;
  }
}

@media (min-width: 1450px) {
  main {
    max-width: 1200px;
    left: calc(50vw - 600px);
  }
}
/*# sourceMappingURL=main.css.map */